<footer class="footer bg-dark text-white py-4 mt-auto">
    <div class="container text-center">
        <p>&copy; {{ "now"|date("Y") }} DHAY3ET MA7ROUS. All rights reserved.</p>
        <p>
            <a href="{{ path('app_home') }}" class="text-white me-3">Home</a>

            <a href="{{ path('app_about_us') }}" class="text-white">About</a>
        </p>
    </div>
</footer>
