<nav class="navbar navbar-expand-lg" style="background-color: #f9f6f4; border-bottom: 1px solid #e0e0e0;">
    <div class="container-fluid">
        <img src="https://sdmntpreastus2.oaiusercontent.com/files/00000000-f4f8-61f6-8ab2-9f29bb1b1a7d/raw?se=2025-05-11T12%3A55%3A32Z&sp=r&sv=2024-08-04&sr=b&scid=00000000-0000-0000-0000-000000000000&skoid=02b7f7b5-29f8-416a-aeb6-99464748559d&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-05-11T08%3A45%3A21Z&ske=2025-05-12T08%3A45%3A21Z&sks=b&skv=2024-08-04&sig=4OzfipkY2clN1ttDcu5VK7/R4V%2BscKFYef8GpvSHMJ8%3D" width="40">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="#">Femme</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Homme</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Enfant</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            </ul>

            <div class="d-flex align-items-center">
                <form class="d-none d-lg-block me-3" id="navbarSearchForm">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" id="navbarSearchInput" placeholder="Search...">
                        <button class="btn btn-outline-secondary btn-sm" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>

                <div class="navbar-icons d-flex align-items-center">
                    <i class="bi bi-person" title="User"></i>
                    <form method="POST" action="{{ path('app_cartshow_cart')}}">
                        <button style="background-color: transparent; border: none;">
                            <i class="bi bi-bag" title="Cart"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>